* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
    background: #642B73;
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);
    background: linear-gradient(to right, #C6426E, #642B73);
    height: 100%; /*Should remain same color for whole page */
}

h1 {
    font-family: "Ubuntu", sans-serif;
    color: #f9f9f9;
    font-size: 2rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
    user-select: none;
}
  
.navbar a {
    color: #eee;
    text-decoration: none;
    margin-left: 24px;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #C6426E;
    border-bottom: 2px solid #C6426E;
}

.logo {
    font-weight: 700;
    font-size: 1.3rem;
    color: #fff;
}
  
ul li {
    list-style: none;
    display: inline;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px 80px;
    min-height: 80vh;
    color: #f9f9f9;
    text-align: center;
  }

.hero h1 {
     font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    background-clip: text;
}

.hero p {
    font-size: 1.5rem;
    font-family: "Fira Sans", sans-serif;
}

img {
    width: 35%;
    height: auto;
    padding: 40px, 0, 40px, 0;
    margin: 70px auto 0 250px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    opacity: 0.9;
}

.buttons {
    margin-bottom: auto;
    border: 2px solid;
    border-radius: 10%;
    padding: 12px 24px;
    row-gap: 10px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px 80px;
    min-height: 80vh;
    color: #f9f9f9;
    text-align: center;
}

.features h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    background-clip: text;
}

.features-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 24px;

}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 24px;
    border-radius: 10%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    opacity: 0.9;
    
}

.feature h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
    background-clip: text;
    font-family: "Ubuntu", sans-serif;
}

.feature p {
    font-size: 1.5rem;
    font-family: "Fira Sans", sans-serif;
}
